; -*- mode: clojure; -*-
; vim: filetype=clojure

;; (include "jruby.clj")
(include "mongo.clj")

(mongodb-connect! {:host "127.0.0.1" :port 27017})
(mgc/insert "mycoll" {:name "jiaoxiang" :age 99 :list [1 2 3 4]})

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "0.0.0.0"]
  (tcp-server :host host)
  (udp-server :host host)
  (ws-server  :host host))

(repl-server :host "127.0.0.1")
